
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container">
    
            <div class="input-group">
                <a href="/Giris/Ogrenci" style="background-color:blueviolet;" class="btn btn-success btn-lg">Öğrenci Girişi</a>

                <a href="/Giris/Ogretmen"  style="background-color:blueviolet;" class="btn btn-success btn-lg">Öğretmen Girişi</a>
     

                <a href="/Giris/Admin"  style="background-color:blueviolet;" class="btn btn-success btn-lg">Admin Girişi</a>
        </div>
    </div>
